#settings {
  list-style: none;
}
#settings li {
  margin-bottom: 1rem;
  /*border-bottom: 1px solid #e4e4e4;*/
  padding-bottom: 1rem;
}
#settings li.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#logo {
  font-family: 'Lato', sans-serif;
  transition: all 0.1s ease;
  box-shadow: 0 2px #ff6666;
  font-weight: 900;
  min-width: 2rem;
  font-size: 2rem;
  background: #fff;
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid #000;
  padding: 1rem 2rem;
  color: #333;
}
#logo.pressed {
  box-shadow: 0 0;
  margin-bottom: -2px;
  margin-top: 2px;
}

.hidden {
  display: none;
}

.divider {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 6px 10px;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #d6d6d6;
  cursor: pointer;
}

button:hover {
  background: #e6e6e6;
}

select#pack-list {
  padding: 5px;
  border-radius: 3px;
  border-color: #ccc;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #d8d8d8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  background: #000; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  background: #000; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}
