#settings {
  list-style: none;
}
#settings li {
  margin-bottom: 1rem;
  /*border-bottom: 1px solid #e4e4e4;*/
  padding-bottom: 1rem;
}
#settings li.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#logo {
  font-family: 'Lato', sans-serif;
  transition: all 0.1s ease;
  box-shadow: 0 2px #ff6666;
  font-weight: 900;
  min-width: 2rem;
  font-size: 2rem;
  background: #fff;
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid #000;
  padding: 1rem 2rem;
  color: #333;
}
#logo.pressed {
  box-shadow: 0 0;
  margin-bottom: -2px;
  margin-top: 2px;
}

.hidden {
  display: none;
}

.divider {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 6px 10px;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #d6d6d6;
  cursor: pointer;
}

button:hover {
  background: #e6e6e6;
}

select#pack-list {
  padding: 5px;
  border-radius: 3px;
  border-color: #ccc;
}

#update-available {
  padding: 8px 5px;
  border: 1px solid #ffb8b8;
  background: #fff2f2;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  list-style: none;
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  border: 1px solid #e3e3e3;
  background: #fff;
  border-radius: 3px;
}
.dropdown-menu li {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.dropdown-menu li a {
  display: block;
  padding: 0 15px 15px 15px;
  font-size: 12px;
  white-space: nowrap;
  color: #333;
}
.dropdown-menu li:hover a {
  color: #ff3333;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
