@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

#settings {
  list-style: none;
}
#settings li {
  margin-bottom: 1rem;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1rem;
}
#settings li.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#keycode-display {
  transition: all 0.1s ease;
  box-shadow: 0 2px #ff3333;
  font-weight: 900;
}
#keycode-display.pressed {
  box-shadow: 0 0;
  margin-bottom: -2px;
  margin-top: 2px;
}

a.open-in-browser {
  text-decoration: none;
  color: #ff3333;
}
