@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

body {
  font-family: Lato, sans-serif;
}

#settings {
  list-style: none;
}
#settings li {
  margin-bottom: 1rem;
  /*border-bottom: 1px solid #e4e4e4;*/
  padding-bottom: 1rem;
}
#settings li.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#keycode-display {
  font-family: 'Lato', sans-serif;
  transition: all 0.1s ease;
  box-shadow: 0 2px #ff6666;
  font-weight: 900;
}
#keycode-display.pressed {
  box-shadow: 0 0;
  margin-bottom: -2px;
  margin-top: 2px;
}

a.open-in-browser {
  text-decoration: none;
  color: #ff3333;
}

.hidden {
  display: none;
}

.divider {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 6px 10px;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #d6d6d6;
  cursor: pointer;
}
button:hover {
  background: #e6e6e6;
}

select#pack-list {
  padding: 5px;
  border-radius: 3px;
  border-color: #d3d3d3;
}
